@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1.3rem 3rem;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.logo {
  font-weight: 700;
  padding-bottom: 0.3rem;
  margin-left: 5rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.logo:hover {
  color: #2937f0;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  text-align: right;
  padding: 0.5rem;
  margin-right: 5rem;
}

.menu > li {
  display: inline-block;
  margin-inline: 0.5rem;
}

.menu > li > a {
  text-decoration: none;
  font-weight: lighter;
  color: #212529;
  margin-right: 20px;
}

.menu > li > a:hover {
  color: #5d6975;
}

.nav-item {
  background-color: #2937f0;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: #fff !important;
  font-size: 0.9rem;
}
li.mobile-nav {
  display: none;
}
.bi-chat-text-fill {
  margin-right: 6px;
}

.header {
  margin-top: 5.5rem;
  display: flex;
}


form {
  margin: auto;
  width: 90vw;
  max-width: 768px;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

form > button {
  background-color: #1cbb9c;
  color: #fff;
  padding: 3%;
  border-radius: 10px;
  border: none;
  margin-inline-end: auto;
  margin-top: 10px;
  font-size: large;
}

label {
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 20px;
  position: relative;
  color: #293446;
  font-size: 25px;
  opacity: 0.8;
  border-bottom: 1px solid gray;
}
input {
  height: 30px;
  font-size: larger;
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  border: none;
  outline: none;
}
input::placeholder {
  opacity: 0;
}
span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(30px);
  font-size: 0.825em;
  transition-duration: 300ms;
}
label.message {
  margin-top: 10px;
  border: none;
}
label > textarea {
  width: 100%;
  border: none;
  font-size: larger;
  
  font-family: "Montserrat", "sans-serif", "Lato";
  margin-top: 30px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  font-size: small;
  transform: translateY(-25px);
}

